.home-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .home-container {
        gap: 40px; /* Reduce gap for tablet-sized screens */
    }
}

@media (max-width: 768px) {
    .home-container {
        gap: 30px; /* Reduce gap further for mobile screens */
    }
}

@media (max-width: 480px) {
    .home-container {
        gap: 20px; /* Further reduce gap for very small screens */
    }
}
